Name: Saleh Abdallah

In [223]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [224]:
fifa = pd.read_csv('Fifa_players_stat.csv')

Initial data inspection

In [225]:
fifa.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,POT,Height,Weight,...,GK Positioning,GK Reflexes,A/W,D/W,PAC,SHO,PAS,DRI,DEF,PHY
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,"5'7""",159lbs,...,14,8,Medium,Low,85,92,91,95,38,65
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,"6'2""",183lbs,...,14,11,High,Low,89,93,81,89,35,77
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,93,"6'2""",192lbs,...,90,90,Medium,Medium,87,92,78,90,52,90
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,"5'11""",154lbs,...,10,13,High,High,76,86,93,88,64,78
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,"5'9""",150lbs,...,15,11,High,Medium,91,85,86,94,36,59

In [226]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 65 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          31 non-null     object
 1   LongName          31 non-null     object
 2   playerUrl         31 non-null     object
 3   Nationality       31 non-null     object
 4   Positions         31 non-null     object
 5   Name              31 non-null     object
 6   Age               31 non-null     int64
 7   POT               31 non-null     int64
 8   Height            31 non-null     object
 9   Weight            31 non-null     object
 10  foot              31 non-null     object
 11  BP                31 non-null     object
 12  Joined            31 non-null     object
 13  Value             31 non-null     object
 14  Wage              31 non-null     object
 15  Release Clause    31 non-null     object
 16  Attacking         28 non-null     float64
 17  Crossing          28 non-null     float64
 18  Finishing         29 non-null     float64
 19  Heading Accuracy  28 non-null     float64
 20  Short Passing     29 non-null     float64
 21  Volleys           29 non-null     float64
 22  Skill             30 non-null     float64
 23  Dribbling         29 non-null     float64
 24  Curve             28 non-null     float64
 25  FK Accuracy       28 non-null     float64
 26  Long Passing      28 non-null     float64
 27  Ball Control      27 non-null     float64
 28  Movement          29 non-null     float64
 29  Acceleration      29 non-null     float64
 30  Sprint Speed      29 non-null     float64
 31  Agility           29 non-null     float64
 32  Reactions         31 non-null     int64
 33  Balance           28 non-null     float64
 34  Power             30 non-null     float64
 35  Shot Power        30 non-null     float64
 36  Jumping           30 non-null     float64
 37  Stamina           29 non-null     float64
 38  Strength          29 non-null     float64
 39  Long Shots        29 non-null     float64
 40  Mentality         29 non-null     float64
 41  Aggression        30 non-null     float64
 42  Interceptions     29 non-null     float64
 43  Positioning       29 non-null     float64
 44  Vision            28 non-null     float64
 45  Penalties         29 non-null     float64
 46  Composure         29 non-null     float64
 47  Defending         28 non-null     float64
 48  Marking           28 non-null     float64
 49  Standing Tackle   26 non-null     float64
 50  Sliding Tackle    25 non-null     float64
 51  Goalkeeping       31 non-null     int64
 52  GK Diving         27 non-null     float64
 53  GK Handling       31 non-null     int64
 54  GK Kicking        31 non-null     int64
 55  GK Positioning    31 non-null     int64
 56  GK Reflexes       31 non-null     int64
 57  A/W               31 non-null     object
 58  D/W               31 non-null     object
 59  PAC               31 non-null     int64
 60  SHO               31 non-null     int64
 61  PAS               31 non-null     int64
 62  DRI               31 non-null     int64
 63  DEF               31 non-null     int64
 64  PHY               31 non-null     int64
dtypes: float64(35), int64(14), object(16)
memory usage: 15.9+ KB

Handle missing values

In [227]:
check_null_values = fifa.isnull().sum()
show_null_values = check_null_values[check_null_values > 0]  # Show only columns with null values
print(show_null_values)

Attacking           3
Crossing            3
Finishing           2
Heading Accuracy    3
Short Passing       2
Volleys             2
Skill               1
Dribbling           2
Curve               3
FK Accuracy         3
Long Passing        3
Ball Control        4
Movement            2
Acceleration        2
Sprint Speed        2
Agility             2
Balance             3
Power               1
Shot Power          1
Jumping             1
Stamina             2
Strength            2
Long Shots          2
Mentality           2
Aggression          1
Interceptions       2
Positioning         2
Vision              3
Penalties           2
Composure           2
Defending           3
Marking             3
Standing Tackle     5
Sliding Tackle      6
GK Diving           4
dtype: int64

In [228]:
fifa.columns

Index(['photoUrl', 'LongName', 'playerUrl', 'Nationality', 'Positions', 'Name',
       'Age', 'POT', 'Height', 'Weight', 'foot', 'BP', 'Joined', 'Value',
       'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'A/W', 'D/W', 'PAC',
       'SHO', 'PAS', 'DRI', 'DEF', 'PHY'],
      dtype='object')

In [229]:
# Replace the missing values with the respective mean in all columns
for i in ['Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving']:
    fifa[i].fillna(fifa[i].mean(), inplace=True)

# Check for remaining missing values if any
print(fifa.isnull().sum().any())

False

Remove duplicates

In [230]:
# Check for duplicates
fifa.duplicated().sum()

2

In [231]:
# Drop duplicates
fifa.drop_duplicates(inplace=True)
fifa.duplicated().sum()

0

Standardize data formats & Correct data types

In [232]:
fifa[['Joined','Height','Weight','Value','Wage','Release Clause']].head()

      Joined Height  Weight   Value   Wage Release Clause
0   1-Jul-04   5'7"  159lbs  â‚¬67.5M  â‚¬560K        â‚¬138.4M
1  10-Jul-18   6'2"  183lbs    â‚¬46M  â‚¬220K         â‚¬75.9M
2  16-Jul-14   6'2"  192lbs    â‚¬75M  â‚¬125K        â‚¬159.4M
3  30-Aug-15  5'11"  154lbs    â‚¬87M  â‚¬370K          â‚¬161M
4   3-Aug-17   5'9"  150lbs    â‚¬90M  â‚¬270K        â‚¬166.5M

In [233]:
fifa[['Joined','Height','Weight','Value','Wage','Release Clause']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 0 to 28
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Joined          29 non-null     object
 1   Height          29 non-null     object
 2   Weight          29 non-null     object
 3   Value           29 non-null     object
 4   Wage            29 non-null     object
 5   Release Clause  29 non-null     object
dtypes: object(6)
memory usage: 1.6+ KB

In [234]:
# Joined: convert to datetime dtype
fifa['Joined'] = pd.to_datetime(fifa['Joined'], format='%d-%b-%y')
# Feature engineering: add new columns Year & Month
fifa['Year'] = fifa['Joined'].dt.year
fifa['Month'] = fifa['Joined'].dt.month

In [235]:
# Weight: convert from lbs to kg and change to float dtype
fifa['Weight'] = fifa['Weight'].str.replace("lbs", "").astype(float).apply(lambda x: round(x / 2.2, 1))
# Height: convert from feet to cm and change to float dtype
fifa['Height'] = fifa['Height'].apply(lambda x: round(float(x.split("'")[0]) * 30.48 + float(x.split("'")[1].replace('"', '')) * 2.54, 1))

In [236]:
# Value, Wage & Release Clause: remove symbols and change to float dtype
def clean_value(amount):
    if 'M' in amount:
        return float(amount.replace('â‚¬', '').replace('M', '')) * 1000000
    elif 'K' in amount:
        return float(amount.replace('â‚¬', '').replace('K', '')) * 1000
    else:
        return float(amount)

fifa['Value'] = fifa['Value'].apply(clean_value)
fifa['Wage'] = fifa['Wage'].apply(clean_value)
fifa['Release Clause'] = fifa['Release Clause'].apply(clean_value)

Final data inspection

In [237]:
fifa[['Joined','Year','Month','Height','Weight','Value','Wage','Release Clause']].head()

,Joined,Year,Month,Height,Weight,Value,Wage,Release Clause
0,2004-07-01,2004,7,170.2,72.3,67500000.0,560000.0,138400000.0
1,2018-07-10,2018,7,188.0,83.2,46000000.0,220000.0,75900000.0
2,2014-07-16,2014,7,188.0,87.3,75000000.0,125000.0,159400000.0
3,2015-08-30,2015,8,180.3,70.0,87000000.0,370000.0,161000000.0
4,2017-08-03,2017,8,175.3,68.2,90000000.0,270000.0,166500000.0

In [238]:
fifa[['Joined','Year','Month','Height','Weight','Value','Wage','Release Clause']].tail()

,Joined,Year,Month,Height,Weight,Value,Wage,Release Clause
24,2014-07-01,2014,7,188.0,89.1,50000000.0,140000.0,85000000.0
25,2019-07-01,2019,7,175.3,74.1,58000000.0,350000.0,118900000.0
26,2014-07-17,2014,7,182.9,76.4,55000000.0,310000.0,112800000.0
27,2012-07-01,2012,7,193.0,92.3,16000000.0,100000.0,27200000.0
28,2017-08-31,2017,8,180.3,76.4,69500000.0,82000.0,132100000.0

In [239]:
fifa[['Joined','Year','Month','Height','Weight','Value','Wage','Release Clause']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Joined          29 non-null     datetime64[ns]
 1   Year            29 non-null     int32
 2   Month           29 non-null     int32
 3   Height          29 non-null     float64
 4   Weight          29 non-null     float64
 5   Value           29 non-null     float64
 6   Wage            29 non-null     float64
 7   Release Clause  29 non-null     float64
dtypes: datetime64[ns](1), float64(5), int32(2)
memory usage: 1.8 KB